[submodule "maze_solver"]
	path = maze_solver
	url = https://github.com/kn-rew/maze_solver.git
[submodule "mouse_visualizer"]
	path = mouse_visualizer
	url = https://github.com/kn-rew/mouse_visualizer.git
[submodule "micromouse_rs"]
	path = micromouse_rs
	url = https://github.com/kn-rew/micromouse_rs.git
